<div ng-controller="enterScoreCtrl">
  <div class="row form-horizontal">
    <h4 ng-bind="title"></h4>
  </div>
  <div class="row form-horizontal">
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 no-padding">
      <select ng-change="getScoreList()" ng-model="selectedSubject" class="form-control input-sm">
          <option ng-selected="1" value="">Chọn môn học</option>
          <option ng-repeat="subject in subjectList" value="{{subject.subjectID}}">{{subject.subjectName}}</option>                                          
      </select>
    </div>
  </div>
  <div class="row form-horizontal">
    <div ng-if="scoreList.data.length" id="list-score"  ui-grid-edit ui-grid-cellNav ui-grid-resize-columns ui-grid="scoreList" class="grid"><span ng-show="scoreList.data.length==0" class="grid-status">Chưa có dữ liệu</span></div>
    <div ng-show="scoreData.action != 'view'" class="form-group">
        <div class="col-xs-12 text-right">
          <button ng-disabled="!scoreList.data.length" type="submit" class="btn btn-primary btn-xs" ng-click="save()"><i class="fa fa-floppy-o"></i> Lưu</button>
        </div>
      </div>
  </div>
</div>