<div class="row" ng-controller="MartketCtrl">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong><span class="fa fa-home"></span> Siêu thị</strong>
            </div>
            <div class="panel-body notification-area">
                <div class="container-fluid">
                    <form role="form" name="martket" id="martket">
                        <div class="row form-horizontal">
                            <uib-tabset active="indextab">
                                <!-- select="alertMe()"-->
                                <uib-tab index="1" heading="Danh sách khu vực">
                                    <div class="row form-horizontal">
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                <label class="control-label col-xs-8 input-sm">SL kệ:</label>
                                                <div class="col-xs-4">
                                                    <input ng-model="data.slKe" ng-init="data.slKe = 1" type="text" class="form-control input-sm">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-xs-8 input-sm">Số lượng ngăn:</label>
                                                <div class="col-xs-4">
                                                    <input ng-model="data.slNgan" ng-init="data.slNgan = 3" type="text" class="form-control input-sm">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-xs-8 input-sm">Kích thước ngăn (1 or 2):</label>
                                                <div class="col-xs-4">
                                                    <input ng-model="data.ktNgan" ng-init="data.ktNgan = 2" type="text" class="form-control input-sm">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-xs-8 input-sm">Số lượng hàng (trong 1 kệ):</label>
                                                <div class="col-xs-4">
                                                    <input ng-model="data.slDong" ng-init="data.slDong = 2" type="text" class="form-control input-sm">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-xs-12">
                                                    <button ng-click="themKhuVuc()" class="btn btn-sm btn-primary">Thêm</button>
                                                    <button ng-click="save()" class="btn btn-sm btn-primary">Lưu</button>
                                                    <button ng-click="build()" class="btn btn-sm btn-primary">Build</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-8">
                                            <div ui-grid="KhuVucList" class="grid"></div>
                                        </div>
                                    </div>
                                </uib-tab>
                                <uib-tab index="2" heading="View 1">
                                    <div class="row form-horizontal" style="height: 500px; overflow: auto;">
                                        <!--<panzoomwidget panzoom-id="PanZoom" style="position:absolute;top:10px;left:10px;z-index:1"></panzoomwidget>
                                        <panzoom id="PanZoom" config="panzoomConfig" model="panzoomModel" style="width:100%; height: 100%">  
                                        </panzoom>-->
                                        <div>
                                            <input type="checkbox" id="active-zoom" />Thu phóng
                                            <div id="zoom-control">
                                                <input type="range" class="zoom-range" style="width: 100%; max-width: 400px;" />
                                                <button class="reset-panzoom">Reset </button>
                                            </div>
                                        </div>
                                        <div style="height: 500px;">
                                            <div id="main_area" class="col-xs-12" style="padding: 0; height: 2000px; width: 2000px; background-color: lightgrey;"></div>
                                        </div>
                                    </div>
                                </uib-tab>
                                <uib-tab ng-click="setupView2()" index="3" heading="View 2">
                                    <div class="row form-horizontal" style="height: 500px; overflow: auto;">
                                        <div class="col-xs-3">
                                            <ul id="sortable">
                                                <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 2</li>
                                                <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 3</li>
                                                <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 4</li>
                                                <li class="ui-state-default fixed"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 5</li>
                                                <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 6</li>
                                                <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 7</li>
                                            </ul>
                                        </div>
                                        <div id="detail_area" class="col-xs-9" style="padding: 0;overflow: auto;border: 1px solid gray; height: 98%;"></div>
                                    </div>
                                </uib-tab>
                            </uib-tabset>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>