<div class="row" ng-controller="MartketCtrl">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong><span class="fa fa-home"></span> Siêu thị</strong>
            </div>
            <div class="panel-body">
                <div class="container-fluid no-padding">
                    <form role="" name="martketForm" id="martketForm">
                        <div class="row form-horizontal">
                            <uib-tabset active="indextab">
                                <!-- select="alertMe()"-->
                                <uib-tab index="1" heading="Danh sách khu vực">
                                    <div class="row form-horizontal">
                                        <!-- <div class="col-xs-4">
                                            <div class="form-group">
                                                <label class="control-label col-xs-5 input-sm">Tên khu vực:</label>
                                                <div class="col-xs-7">
                                                    <input required ng-model="data.name" type="text" class="form-control input-sm">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-xs-5 input-sm">Số kệ:</label>
                                                <div class="col-xs-7">
                                                    <input required ng-model="data.shelves" type="text" class="form-control input-sm">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-xs-5 input-sm">Số lượng ngăn:</label>
                                                <div class="col-xs-7">
                                                    <input required ng-model="data.col" type="text" class="form-control input-sm">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-xs-5 input-sm">Số lượng hàng:</label>
                                                <div class="col-xs-7">
                                                    <input required ng-model="data.row" type="text" class="form-control input-sm">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-xs-12 text-right">
                                                     <button ng-click="save()" type="submit" class="btn btn-sm btn-primary">Thêm khu vực</button> 
                                                     <button ng-click="addShelve()" type="button" class="btn btn-sm btn-primary">Reset</button> 
                                                    <button ng-click="build()" type="button" class="btn btn-sm btn-primary">Build</button>
                                                </div>
                                            </div>
                                        </div> -->
                                        <div class="col-xs-8">
                                            <div class="form-group">
                                                <div class="col-xs-12">
                                                    <button ng-click="build()" type="button" class="btn btn-sm btn-primary">Dựng View 1 </button>
                                                </div>
                                            </div>
                                            <div ui-grid="zoneList" style="max-width: 100%" ui-grid-resize-columns class="grid"></div>
                                        </div>
                                    </div>
                                </uib-tab>
                                <uib-tab index="2" heading="View 1">
                                    <div class="row form-horizontal" style="height: 500px; overflow: auto;">
                                        <!--<panzoomwidget panzoom-id="PanZoom" style="position:absolute;top:10px;left:10px;z-index:1"></panzoomwidget>
                                        <panzoom id="PanZoom" config="panzoomConfig" model="panzoomModel" style="width:100%; height: 100%">  
                                        </panzoom>-->
                                        <div>
                                            <input type="checkbox" id="active-zoom" /> Thu phóng
                                            <div id="zoom-control">
                                                <input type="range" class="zoom-range" style="width: 100%; max-width: 400px;" />
                                                <button  type="button" class="btn btn-sm btn-primary reset-panzoom">Khôi phục </button>
                                            </div>
                                        </div>
                                        <div style="height: 500px;">
                                            <div id="main_area" class="col-xs-12" style="padding: 0; height: 2000px; width: 2000px; background-color: lightgrey;"></div>
                                        </div>
                                    </div>
                                </uib-tab>
                                <uib-tab index="3" heading="View 2">
                                    <div class="row form-horizontal" style="height: 500px; overflow: auto;">
                                        <!--<div class="col-xs-3">
                                            <ul id="sortable">
                                                <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 2</li>
                                                <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 3</li>
                                                <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 4</li>
                                                <li class="ui-state-default fixed"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 5</li>
                                                <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 6</li>
                                                <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 7</li>
                                            </ul>
                                        </div>-->
                                        <div class="col-xs-9" style="padding: 0;overflow: auto;border: 1px solid gray; height: 98%;">
                                           <div id="detail_area"></div>
                                        </div>
                                        <div class="col-xs-3" style="padding: 0;overflow: auto;border: 1px solid gray; border-left:0;height: 98%;">
                                            <div id="cart-title" class="col-xs-12"><span>Giỏ hàng</span><button ng-show="cart.length" class="btn btn-primary pull-right">Thanh toán</button></div>
                                            <div class="col-xs-12 text-right" style="margin-bottom: 10px;">Tổng cộng: <b>{{orderPrice}} VND</b></div>
                                            <div id="cart_area" class="col-xs-12" style="height: 75%; max-height: 350px; overflow-y: scroll;">
                                                <ul class="list-group">
                                                    <li  class="list-group-item active"><b>Kiện hàng<span class="pull-right">Số lượng</span></b></li>
                                                    <li  class="list-group-item" ng-repeat="it in cart">{{it.name}}<span class="badge">{{it.qty}}</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </uib-tab>
                            </uib-tabset>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>