<div class="modal-header">
  <button type="button" class="close" ng-click="closeModal()">&times;</button>
  <h4 class="modal-title">Chọn học sinh</h4>
</div>
<div class="modal-body">
  <div class="row">
      <div class="col-xs-12 no-padding">
          <button type="button" class="btn btn-primary btn-xs" ng-click="loadStudentNotInClass()">
          <i class="fa fa-refresh"></i> Tải lại danh sách</button>
      </div>
  </div>
  <div id="studentList" ui-grid-selection ui-grid-resize-columns ui-grid="studentList" class="grid"><span ng-show="studentList.data.length==0" class="grid-status">{{studentListStatus}}</span></div>
</div>
<div class="modal-footer">
  <button type="button" ng-disabled="!selectedRows" class="btn btn-primary btn-xs" ng-click="selectStudent()">
          <i class="fa fa-check"></i> Chọn ({{selectedRows.length?selectedRows.length:0}})</button>
  <button type="button" class="btn btn-primary btn-xs" ng-click="closeModal()">
    <i class="fa fa-times"></i> Đóng</button>
</div>
    