<div class="row" ng-controller="RegulationCtrl">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong><span class="fa fa-cogs"></span> Quy Định</strong>
      </div>
      <div class="panel-body notification-area">
        <div class="container-fluid">
          <form role="form" name="regulationForm" id="regulation">
            <div class="row form-horizontal">
              <div class="col-md-4 col-sm-6">
                <div class="form-group">
                  <label class="control-label input-sm col-xs-3 text-left" style="min-width: 100px">Năm học (*):</label>
                  <div class=" col-xs-6">
                    <select required name="schoolYear" ng-model="futureSchoolyearID" ng-change="getRegulation()" class="form-control input-sm"
                     ng-class="{'input-error': regulationForm.schoolYear.$touched && regulationForm.schoolYear.$invalid }">
                          <option value="" ng-selected="1">Chọn năm học</option> 
                          <option ng-repeat="future in futureSchoolYear" value="{{future.schoolYearID}}">{{future.schoolYearName}}</option>                             
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-8 col-sm-12">
                <div class="form-group">
                  <div class="col-xs-12">
                      <rzslider rz-slider-model="slider.minValue"
                      rz-slider-high="slider.maxValue"
                      rz-slider-options="slider.options"></rzslider>
                  </div>
                </div>
              </div>
            </div>
            <div class="row form-horizontal">
              <div class="col-md-4 col-sm-12 no-padding">
                <div class="col-xs-12 bold">Khối 10 ({{grade10.data.length}} lớp)</div>
                <div class="col-xs-12">
                  <div class="btn-group">
                    <button ng-disabled="!reg.regulationID" type="button" class="btn btn-primary btn-xs" ng-click="addRowGrade10()"><i class="fa fa-plus-circle"></i> Thêm lớp</button>
                    <button type="button" class="btn btn-primary btn-xs" ng-click="deleteRowGrade10()" ng-disabled="!selectedRowGrade10"><i class="fa fa-times"></i> Xoá</button>
                  </div>
                </div>
                <div class="col-xs-12" style="margin-top: 10px">
                  <div id="grid-grade10" ui-grid="grade10" ui-grid-edit ui-grid-cellNav ui-grid-selection ui-grid-resize-columns class="grid"></div>
                </div>
              </div>
              <div class="col-md-4 col-sm-12 no-padding">
                <div class="col-xs-12">Khối 11 ({{grade11.data.length}} lớp)</div>
                <div class="col-xs-12">
                  <div class="btn-group">
                    <button ng-disabled="!reg.regulationID" type="button" class="btn btn-primary btn-xs" ng-click="addRowGrade11()"><i class="fa fa-plus-circle"></i> Thêm lớp</button>
                    <button type="button" class="btn btn-primary btn-xs" ng-click="deleteRowGrade11()" ng-disabled="!selectedRowGrade11"><i class="fa fa-times"></i> Xoá</button>
                  </div>
                </div>
                <div class="col-xs-12" style="margin-top: 10px">
                  <div id="grid-grade11" ui-grid="grade11" ui-grid-edit ui-grid-cellNav ui-grid-selection ui-grid-resize-columns class="grid"></div>
                </div>
              </div>
              <div class="col-md-4 col-sm-12 no-padding">
                <div class="col-xs-12">Khối 12 ({{grade12.data.length}} lớp)</div>
                <div class="col-xs-12">
                  <div class="btn-group">
                    <button ng-disabled="!reg.regulationID" type="button" class="btn btn-primary btn-xs" ng-click="addRowGrade12()"><i class="fa fa-plus-circle"></i> Thêm lớp</button>
                    <button type="button" class="btn btn-primary btn-xs" ng-click="deleteRowGrade12()" ng-disabled="!selectedRowGrade12"><i class="fa fa-times"></i> Xoá</button>
                  </div>
                </div>
                <div class="col-xs-12" style="margin-top: 10px">
                  <div id="grid-grade12" ui-grid="grade12" ui-grid-edit ui-grid-cellNav ui-grid-selection  ui-grid-resize-columns class="grid"></div>
                </div>
            </div>  
            </div>
            <div class="row form-horizontal">
              <div class="col-md-6 col-sm-12 no-padding">
                <div class="col-xs-12">
                Môn học ({{course.data.length}} môn)
                </div>
                <div class="col-xs-12">
                  <div class="btn-group col-xs-6 no-padding">
                    <button ng-disabled="!reg.regulationID" type="button" class="btn btn-primary btn-xs" ng-click="addRowCourse()"><i class="fa fa-plus-circle"></i> Thêm môn học</button>
                    <button type="button" class="btn btn-primary btn-xs" ng-click="deleteRowCourse()" ng-disabled="!selectedRowCourse"><i class="fa fa-times"></i> Xoá</button>
                  </div>
                  <label class="control-label input-sm col-xs-4">Điểm chuẩn (*):</label>
                  <div class="col-xs-2 col-sm-2 no-padding" style="min-width: 30px">
                    <input required name="minScore" ng-model="reg.minScore" type="number" min="0" max="10" class="form-control input-sm"
                     ng-class="{'input-error': regulationForm.minScore.$touched && regulationForm.minScore.$invalid }">
                  </div>
                </div>
                <div class="col-xs-12" style="margin-top: 10px">
                  <div id="grid-course" ui-grid="course" ui-grid-edit ui-grid-cellNav ui-grid-selection ui-grid-resize-columns class="grid"></div>
                </div>
              </div>
              <div class="col-md-6 col-sm-12" style="margin-top: 15px;">
                  <button ng-disabled="!reg.regulationID" type="button" class="btn btn-primary btn-xs" ng-click="save()"><i class="fa fa-floppy-o"></i> Cập nhật quy định</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>