<div class="row" ng-controller="ReportCtrl">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong><span class="fa fa-file-text-o"></span> Báo cáo</strong>
      </div>
      <div class="panel-body notification-area">
        <div class="container-fluid">
          <form role="form" name="reportForm" id="report">
            <div class="row form-horizontal">
              <div class="col-md-3 col-sm-6">
                <div class="form-group">
                  <label class="radio-inline"><input ng-checked="1" ng-model="semesterID" value="1" type="radio" name="sesmter">HK I   </label>
                  <label class="radio-inline"><input ng-model="semesterID" value="2" type="radio" name="sesmter">HK II   </label>
                  <!--<label class="radio-inline"><input ng-checked="1" ng-model="semesterID" value="" type="radio" name="sesmter">Cả năm   </label>-->
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="form-group">
                    <div class="col-xs-7 col-sm-6 col-md-6 no-padding">
                      <select ng-change="getScoreList()" ng-model="subject" class="form-control input-sm">
                        <option ng-selected="1" value="">Tất cả môn học</option>
                        <option ng-repeat="subject in subjectList" value="{{subject}}">{{subject.subjectName}}</option>                                          
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="form-group">
                  <div class="col-xs-7 col-sm-6 col-md-6 no-padding">
                    <button type="button" class="btn btn-primary btn-xs" ng-click="report()"><i class="fa fa-search"></i> Lập báo cáo</button>
                    <button type="button" class="btn btn-primary btn-xs" ng-click="reset()"><i class="fa fa-reply"></i> Làm lại</button>
                  </div>
                </div>
              </div>      
            </div>
          </form>
          <div class="row form-horizontal" id="report-area">
            <!--<div class="btn-group">
              <button type="button" class="btn btn-primary btn-xs" ng-click="" ng-disabled="1"><i class="fa fa-files"></i> Xuất PDF</button>
            </div>-->
            <h4>{{title}}</h4>
          </div>
          <div ng-if="reportList.data.length" id="reportGrid" ui-grid="reportList" class="grid"></div>
        </div>
      </div>
    </div>
  </div>
</div>