<div class="row" ng-controller="SchoolYearCtrl">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong><span class="fa fa-graduation-cap"></span> Năm học</strong>
      </div>
      <div class="panel-body notification-area">
        <div class="container-fluid">
          <form role="form" name="create_school_year" id="create_school_year">
            <div class="row form-horizontal">
               <div class="col-sm-8">
                <div class="form-group">
                  <label class="control-label col-sm-4 col-xs-12 input-sm">Tạo năm học</label>
                  <div class="col-sm-4 col-xs-6">
                    <input type="text" class="form-control input-sm" disabled ng-model="newSchoolYear">
                  </div>
                  <div class="col-sm-4 col-xs-6">
                    <button type="submit" class="btn btn-primary btn-xs" ng-click="createSchoolYear()"><i class="fa fa-plus"></i> Tạo</button>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-4 col-xs-12 input-sm">Mở năm học mới</label>
                  <div class="col-sm-4 col-xs-6">
                    <!--<select ng-change="selectFutureSchoolYear()" class="form-control input-sm" ng-model="selectedFutureSchoolYear">
                      <option ng-selected="1">Chọn năm học</option>
                      <option ng-repeat="future in futureSchoolYear" value="{{future.schoolYearID}}">{{future.schoolYearName}}</option>
                    </select>-->
                    <input type="text" class="form-control input-sm" disabled ng-model="selectedFutureSchoolYearName">
                  </div>
                  <div class="col-sm-4 col-xs-6">
                    <button type="submit" class="btn btn-primary btn-xs" ng-click="changeSchoolYear()"><i class="fa fa-graduation-cap"></i> Mở</button>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <div class="col-xs-12 text-right">
                  </div>
                </div>
              </div>
            </div>
            <div class="row form-horizontal">
              <div class="col-sm-8 col-xs-12">
                  <div id="gridSchooYearList" ui-grid-resize-columns ui-grid="schoolYearList" class="grid"></div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="col-md-6 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong><span class="fa fa-check-square-o"></span> Chọn năm học mới</strong>
      </div>
      <div class="panel-body notification-area">
        <div class="container-fluid">
          <form role="form" name="create_school_year" id="create_school_year">
            <div class="row form-horizontal">
               <div class="col-sm-8">
                
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <div class="col-xs-12 text-right">
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>-->
</div>