<div class="row" ng-controller="StatisticCtrl">
    <div class="col-lg-4 col-md-4 col-xs-12">
        <rd-widget>
            <rd-widget-body>
                <div class="widget-icon green pull-left">
                    <i class="fa fa-list"></i>
                </div>
                <div class="title">{{data.numOfItems}}</div>
                <div class="comment">Kiện hàng</div>
            </rd-widget-body>
        </rd-widget>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-12">
        <rd-widget>
            <rd-widget-body>
                <div class="widget-icon red pull-left">
                    <i class="fa fa-shopping-cart"></i>
                </div>
                <div class="title">{{data.numOfInvoices}}</div>
                <div class="comment">Đơn hàng</div>
            </rd-widget-body>
        </rd-widget>
    </div>
     <div class="col-lg-4 col-md-4 col-xs-12">
        <rd-widget>
            <rd-widget-body>
                <div class="widget-icon blue pull-left">
                    <i class="fa fa-support"></i>
                </div>
                <div class="title">{{data.numOfDates}}</div>
                <div class="comment">Số ngày giao dịch</div>
            </rd-widget-body>
        </rd-widget>
    </div>
    <div class="col-lg-5 col-md-5 col-xs-12">
        <rd-widget>
            <rd-widget-body>
                <h4>Top 10 mặt hàng bán chạy</h4>
                <div>
                    <div ui-grid="FIList" style="max-width: 100%; min-width: 200px" ui-grid-selection ui-grid-resize-columns class="grid"></div>
                </div>
            </rd-widget-body>
        </rd-widget>
    </div>
    <div class="col-lg-7 col-md-7 col-xs-12">
        <rd-widget>
            <rd-widget-body>
                <div class="comment"><h4>Dự đoán sự kết hợp các món hàng</h4></div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr><th width="80%">Dự đoán</th><th width="80px">%</th></tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in dataMining"><td>Nếu mua <b>{{data.from.toString()}}</b> thì sẽ mua <b>{{data.to.toString()}}</b></td><td><span class="text-success">{{Math.round(data.conf*100)}}%</span></td></tr>
                        </tbody>
                    </table>
                </div>
            </rd-widget-body>
        </rd-widget>
    </div>
</div>
