<div ng-controller="StudentEditCtrl">
  <div class="row form-horizontal">
    <h4 ng-bind="title"></h4>
  </div>
  <form class="row form-horizontal" name="studentEditForm">
    <div class="col-sm-6">
      <div class="form-group">
        <label class="control-label col-xs-5 input-sm">Họ Tên (*):</label>
        <div class="col-xs-7">
          <input required name="studentName" ng-disabled="studentData.action == 'view'" ng-model="data.name" type="text" class="form-control input-sm" maxlength="50" 
          ng-class="{'input-error': studentEditForm.studentName.$touched && studentEditForm.studentName.$invalid }">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-xs-5 input-sm">Giới Tính (*):</label>
        <div class="col-xs-7">
          <select required name="studentGender" ng-disabled="studentData.action == 'view'" ng-model="data.gender" class="form-control input-sm"
          ng-class="{'input-error': studentEditForm.studentGender.$touched && studentEditForm.studentGender.$invalid }">
                        <option value="">Chọn</option>
                        <option value="1">Nam</option>
                        <option value="0">Nữ</option>                                                
                    </select>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-xs-5 input-sm">Ngày Sinh (*):</label>
        <div class="col-xs-7" ng-class="studentData.action == 'view'?'hide-dp':''">
          <input required name="studentBirthday" ng-disabled="studentData.action == 'view'" ng-model="data.birthday" placeholder="dd-mm-yyyy" type="text" class="dp-birthday form-control input-sm"
          ng-pattern="datePattern" ng-class="{'input-error': studentEditForm.studentBirthday.$touched && studentEditForm.studentBirthday.$invalid }">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-xs-5 input-sm">Địa chỉ (*):</label>
        <div class="col-xs-7">
          <textarea required name="studentAddress" rows="2" ng-disabled="studentData.action == 'view'" ng-model="data.address" type="text" class="form-control input-sm"  maxlength="200"  
          ng-class="{'input-error': studentEditForm.studentAddress.$touched && studentEditForm.studentAddress.$invalid }"></textarea>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label class="control-label col-xs-5 input-sm">Email:</label>
        <div class="col-xs-7">
          <input name="studentEmail" ng-disabled="studentData.action == 'view'" ng-model="data.email" type="text" class="form-control input-sm" ng-pattern="emailPattern"
           ng-class="{'input-error': studentEditForm.studentEmail.$touched && studentEditForm.studentEmail.$invalid }">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-xs-5 input-sm">Nhập học:</label>
        <div class="col-xs-7">
          <input ng-disabled="1" ng-model="data.yearAdmissionName" type="text" class="form-control input-sm">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-xs-5 input-sm">Lớp:</label>
        <div class="col-xs-7">
          <input ng-disabled="1" ng-model="data.className" type="text" class="form-control input-sm">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-xs-5 input-sm">Lớp đã học:</label>
        <div class="col-xs-7">
          <textarea  ng-disabled="1" rows="2"  ng-model="data.prevClassesString" type="text" class="form-control input-sm"></textarea>
        </div>
      </div>
      <div ng-show="studentData.action != 'view'" class="form-group">
        <div class="col-xs-12 text-right">
          <button type="submit" class="btn btn-primary btn-xs" ng-click="save()"><i class="fa fa-floppy-o"></i> Lưu</button>
          <button type="button" class="btn btn-primary btn-xs" ng-click="reset()"><i class="fa fa-reply"></i> Làm lại</button>
        </div>
      </div>
    </div>
  </form>
</div>