<html ng-app="market">

<head>
    <link href="../../release/panzoomwidget.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <script src="../../bower_components/jQuery/dist/jquery.js"></script>
    <script src="../../bower_components/hamsterjs/hamster.js"></script>
    <script src="../../bower_components/angular/angular.min.js"></script>
    <script src="../../bower_components/angular-mousewheel/mousewheel.js"></script>

    <script src="../../scripts/directives/panzoom.js"></script>
    <script src="../../scripts/services/PanZoomService.js"></script>
    <script src="../../scripts/directives/panzoomwidget.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.min.css" rel="stylesheet"
        type="text/css" />
    <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="../../bower_components/angular-dragdrop/src/angular-dragdrop.js"></script>
    <script src="martketCtrl.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <!--grid-->
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-touch.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js"></script>
    <script src="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.js"></script>
    <style>
         .pan-zoom-frame {
            border: 2px solid black;
        }

        .btn-droppable {
            width: 180px;
            height: 30px;
            padding-left: 4px;
        }

        .btn-draggable {
            width: 160px;
        }

        .emage {
            height: 215px;
        }

        .grid {
            width: 500px;
            height: 250px;
        }

        .ui-grid-render-container-body .ui-grid-header-canvas {
            height: 30px !important;
        }
        .khuvuc-container {
            height: auto;
            width: auto;
            border: 1px solid #333;
            background-color:  #fff;
        }
        table.khuvuc{
            /*table-layout: fixed;*/
        }
        td.ngan{
            width: 15px;
            height: 10px;
        }
    </style>
</head>

<body ng-controller="marketCtr">
    <div class="page-content col-xs-12">
        <div class="row form-horizontal">
            <div class="col-xs-4">
                <div class="form-group">
                   ===== Thêm dãy kệ =====
                </div>
                
                <div class="form-group">
                    <label class="control-label col-xs-8 input-sm">SL kệ:</label>
                    <div class="col-xs-4">
                        <input ng-model="data.slKe" ng-init="data.slKe = 1" type="text" class="form-control input-sm">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-8 input-sm">Số lượng ngăn:</label>
                    <div class="col-xs-4">
                        <input ng-model="data.slNgan" ng-init="data.slNgan = 3" type="text" class="form-control input-sm">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-8 input-sm">Kích thước ngăn (1 or 2):</label>
                    <div class="col-xs-4">
                        <input ng-model="data.ktNgan" ng-init="data.ktNgan = 2" type="text" class="form-control input-sm">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-8 input-sm">Số lượng hàng (trong 1 kệ):</label>
                    <div class="col-xs-4">
                        <input ng-model="data.slDong" ng-init="data.slDong = 2" type="text" class="form-control input-sm">
                    </div>
                </div>
                <button ng-click="themKhuVuc()" class="btn btn-sm btn-primary">Thêm</button> 
                <button ng-click="save()" class="btn btn-sm btn-primary">Lưu</button>
                <button ng-click="build()" class="btn btn-sm btn-primary">Build</button>
                <div ui-grid="KhuVucList" class="grid"></div>
            </div>

            <div class="col-xs-8" style="padding: 0">
                <!--<panzoomwidget panzoom-id="PanZoom" style="position:absolute;top:10px;left:10px;z-index:1"></panzoomwidget>
                <panzoom id="PanZoom" config="panzoomConfig" model="panzoomModel" style="width:100%; height: 100%">  
                </panzoom>-->
                <div id="main_area" class="col-xs-8" style="padding: 0; height: 100%; width: 100%; border: 1px solid red;">
            </div>
        </div>
    </div>
</body>

</html>